/* Icons */
.iconPrimary {
  fill: var(--primary);
  
} 

.iconWhite {
  fill: var(--white);
}

.menuIcon {
  fill: var(--white);
}


/* Buttons */
.overlayButton {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buttonPrimary {
  background-color: var(--white);
  color: var(--primary);
}

.buttonPrimary:focus, .buttonPrimary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.buttonAlert {
  background-color: var(--red);
  color: var(--white);
}

.modalFooterButton {
  height: 40px;
  width: 100%;
}

.buttonAdd {
  width: 24px;
  height: 24px;
}

.buttonAdd:focus, .buttonAdd:hover {
  background-color: var(--green);
}

.buttonClaim {
  height: 35px;
  width: 50%;
  border-radius: 50px;
  font-size: 16px;
}

.buttonRename {
  height: 40px;
  width: 40%;
  border-radius: 50px;
}

.buttonRemove {
  height: 40px;
  width: 40%;
  border-radius: 50px;
}

.buttonSignout {
  font-size: 24px;
  height: 40px;
  width: 100%;
  padding: 0 30px;
}