/*
    Generic Modal
*/

.modalOverlay {
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); /* color */
    transition: opacity 0.2s ease;
    z-index: 9;
    display: flex;
    justify-content: center;
}

.modalContent{
    position: fixed;
    bottom: 80px; 
    background-color: var(--background);
    border-radius: 5px;
    z-index: 9;
}

/* modal content animations*/
.modalContent.slideUp {
    animation: slideUp 0.2s ease-out forwards;
}

.modalContent.slideDown {
    animation: slideDown 0.2s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0%);
        opacity: 1;
    } 
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.modalHeader {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.modalBody {
    padding: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.modalText {
    text-align: center;
    margin-bottom: 30px;
}
.modalFooter {
    text-align: end;
    padding: 20px 20px 30px 20px;
}


/*
    Add Colleague Modal 
*/
.modalInput {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}



/*
    Claim Modal
*/
.modalDate {
    padding-bottom: 30px;
}
.date {
    color: var(--primary);

}


/*
    Info Colleague Modal
*/
.modalContentInfo {
    bottom: 0px;
}

/*  modal size for tablets and Desktop */
@media (min-width: 601px)  {
    .modalContent {
        width: 500px;
    }
}

/*  modal size for smart phones */
@media (max-width: 600px) {
    .modalContent {
        width: 100%;
    }
}