.navbar {
  height: 78px;
  background-color: var(--white);
  border-top: 1px solid var(--grey-border);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
}

.navbarLink {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbarTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
}

.navBorderRight {
  border-right: 0.5px solid var(--grey-border);
}
.navBorderLeft {

  border-left: 0.5px solid var(--grey-border);
}

