.logo {
    width: 130px;
    height: 60px;
}

.navIcon {
  fill: var(--primary);
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menuIcon {
  display: none;
  height: 45px;
  width: 45px;
}

.nav-elements ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 100px;
}

.nav-elements ul a {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--primary);
}

.nav-elements ul a.active {
    color: var(--primary);
    position: relative;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}


@media (min-width: 601px) {
    .navOverlay {
        display: none;
    }
    .overlayButton {
        display: none;
    }
}

@media (max-width: 600px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: var(--background);
    height: calc(100vh - 80px);
    width: 0px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
  }

  .nav-elements.active {
    width: 250px;
  }

  .nav-elements ul {
    align-items: start;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-top: 24px;
  }

  .nav-elements ul li:last-child {
    position: absolute;
    bottom: 40px;
  }

  .overlayButton {
    border: none;
    position: absolute; /* Positioning and size */
    padding: 0;
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgba(128,128,128,0.5); /* color */
    overflow: hidden;
  }
}