/* toolbar styles */
.toolbar {
  display: flex;
  justify-content: center;
  background: rgba(255,255,255, 0.08);
}

.toolbarContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px; 
}

.toolbarResults {
  position: fixed; 
  top: 140px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}


